Node-Red Flow.txt
[{"id":"286a596b.ed4cbe","type":"tab","label":"Ayel","disabled":false,"info":""},{"id":"6e0dd626.785bf8","type":"s7 in","z":"286a596b.ed4cbe","endpoint":"e3b89c07.4a40a8","mode":"single","variable":"TEMPERATURE","diff":true,"name":"","x":100,"y":480,"wires":[["1cc400e.b5217ff","7857511a.7ad4b8","1d31c7fc.33af48"]]},{"id":"1cc400e.b5217ff","type":"ui_gauge","z":"286a596b.ed4cbe","name":"","group":"95ff1636.efc5d","order":1,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"°C","format":"{{value}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"50","x":270,"y":420,"wires":[]},{"id":"7857511a.7ad4b8","type":"ui_chart","z":"286a596b.ed4cbe","name":"","group":"95ff1636.efc5d","order":2,"width":0,"height":0,"label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":270,"y":540,"wires":[[]]},{"id":"7c5fad4a.82421c","type":"ui_chart","z":"286a596b.ed4cbe","name":"","group":"af19d806.c88428","order":2,"width":0,"height":0,"label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":250,"y":80,"wires":[[]]},{"id":"7e6136be.96683","type":"ui_gauge","z":"286a596b.ed4cbe","name":"","group":"af19d806.c88428","order":1,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"10","seg2":"40","x":250,"y":40,"wires":[]},{"id":"5d8a32e9.9137bc","type":"s7 in","z":"286a596b.ed4cbe","endpoint":"860024d8.80f7d8","mode":"single","variable":"HUMIDITE","diff":true,"name":"","x":80,"y":80,"wires":[["7c5fad4a.82421c","7e6136be.96683","f278e955.c5bd4","da5d4eac.ffce3"]]},{"id":"3e81a2da.28c53e","type":"s7 in","z":"286a596b.ed4cbe","endpoint":"a70cce5c.c19408","mode":"single","variable":"NIVEAU PUIT","diff":true,"name":"","x":430,"y":80,"wires":[["b6ac03cb.3d8dc8"]]},{"id":"6a8818c9.929e1","type":"s7 in","z":"286a596b.ed4cbe","endpoint":"7dd7d03d.fbf06","mode":"single","variable":"NIVEAU CHATEAU","diff":true,"name":"","x":110,"y":300,"wires":[["ba9d26a5.3ca708","c3916795.471078","a50d453d.64f328"]]},{"id":"b6ac03cb.3d8dc8","type":"ui_gauge","z":"286a596b.ed4cbe","name":"","group":"5871d21b.8ba3ec","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":80,"wires":[]},{"id":"ba9d26a5.3ca708","type":"ui_gauge","z":"286a596b.ed4cbe","name":"","group":"ce72d890.be93","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"m3","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":300,"wires":[]},{"id":"ef86b6b1.84b42","type":"s7 out","z":"286a596b.ed4cbe","endpoint":"c7180159.3f17b8","variable":"Ouvrir","name":"","x":1130,"y":60,"wires":[]},{"id":"a671a848.bc2fa8","type":"ui_switch","z":"286a596b.ed4cbe","name":"","label":"AUTO/MAN","tooltip":"","group":"28d2a11c.a38176","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":830,"y":240,"wires":[["dd6671ec.f63c7"]]},{"id":"209776f5.7388e2","type":"ui_button","z":"286a596b.ed4cbe","name":"POMPE ON","group":"ee2274dd.59b9e","order":1,"width":"0","height":"0","passthru":false,"label":"Demarrer la pompe","tooltip":"","color":"","bgcolor":"#008000","icon":"","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":910,"y":480,"wires":[["f3cb71d3.d36dd"]]},{"id":"9861a984.1712","type":"ui_button","z":"286a596b.ed4cbe","name":"POMPE OFF","group":"ee2274dd.59b9e","order":2,"width":"0","height":"0","passthru":false,"label":"Arreter la pompe","tooltip":"","color":"","bgcolor":"#FF0000","icon":"","payload":"false","payloadType":"bool","topic":"","topicType":"str","x":910,"y":540,"wires":[["7c1630ce.c63aa8"]]},{"id":"f278e955.c5bd4","type":"ui_gauge","z":"286a596b.ed4cbe","name":"","group":"bb5f3ac1.1ed3f","order":1,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"10","seg2":"40","x":250,"y":120,"wires":[]},{"id":"98db8ea8.d9d94","type":"moment","z":"286a596b.ed4cbe","name":"","topic":"","input":"payload","format":"DD/MM/YYYY HH:mm:ss","locale":"en_IN","output":"payload","x":340,"y":820,"wires":[["b6c48686.095268"]]},{"id":"bba9e1f3.4f1848","type":"inject","z":"286a596b.ed4cbe","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":820,"wires":[["98db8ea8.d9d94"]]},{"id":"b6c48686.095268","type":"ui_text","z":"286a596b.ed4cbe","group":"1fb2e961.bfc25f","order":1,"width":"0","height":"0","name":"Date","label":"","format":"{{msg.payload}}","layout":"row-right","x":590,"y":820,"wires":[]},{"id":"6eaa78.cf581588","type":"openweathermap","z":"286a596b.ed4cbe","name":"","wtype":"current","lon":"","lat":"","city":"Berkane","country":"MA","language":"en","x":240,"y":660,"wires":[["566416aa.0e6748"]]},{"id":"566416aa.0e6748","type":"function","z":"286a596b.ed4cbe","name":"","func":"var msg1 = { payload:msg.payload.tempc };\nvar msg2 = { payload:msg.payload.humidity };\nvar msg3 = { payload:msg.payload.windspeed};\nvar msg4 = { payload:msg.payload.description};\n\n\nreturn [ msg1, msg2, msg3, msg4 ];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":400,"y":660,"wires":[["d1c30bc3.519fa"],["aec6be59.3575e"],["2b67044f.e580f4","d6477afc.e57798"],["9003b0ef.36ee68"]],"outputLabels":["Temp Max","Current Temp","Temp Min","Description"]},{"id":"9003b0ef.36ee68","type":"ui_text","z":"286a596b.ed4cbe","group":"ebb013e4.24101","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":590,"y":760,"wires":[]},{"id":"d1c30bc3.519fa","type":"ui_gauge","z":"286a596b.ed4cbe","name":"","group":"984f52f9.ed3d48","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":640,"wires":[]},{"id":"aec6be59.3575e","type":"ui_gauge","z":"286a596b.ed4cbe","name":"","group":"ad82b554.641b1","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":680,"wires":[]},{"id":"d6477afc.e57798","type":"ui_gauge","z":"286a596b.ed4cbe","name":"","group":"a42e36a5.a32258","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"Km/h","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":720,"wires":[]},{"id":"dade34b4.dc4b98","type":"ui_button","z":"286a596b.ed4cbe","name":"","group":"1d51db71.08ce3d","order":2,"width":0,"height":0,"passthru":false,"label":"Ouvrir","tooltip":"","color":"","bgcolor":"#008000","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":810,"y":60,"wires":[["9e2536a7.d69618"]]},{"id":"7ffc482d.40c19","type":"ui_button","z":"286a596b.ed4cbe","name":"","group":"1d51db71.08ce3d","order":3,"width":0,"height":0,"passthru":false,"label":"Fermer","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":800,"y":120,"wires":[["2f0d3436.9de6ac"]]},{"id":"4b88e7cc.1858a","type":"s7 out","z":"286a596b.ed4cbe","endpoint":"a5ad051e.3b288","variable":"Fermer","name":"","x":1140,"y":120,"wires":[]},{"id":"9e2536a7.d69618","type":"trigger","z":"286a596b.ed4cbe","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":960,"y":60,"wires":[["ef86b6b1.84b42"]]},{"id":"2f0d3436.9de6ac","type":"trigger","z":"286a596b.ed4cbe","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":960,"y":120,"wires":[["4b88e7cc.1858a"]]},{"id":"dd6671ec.f63c7","type":"s7 out","z":"286a596b.ed4cbe","endpoint":"3f15742f.64933c","variable":"AUTO MAN","name":"","x":1030,"y":240,"wires":[]},{"id":"988d670f.4270c8","type":"s7 out","z":"286a596b.ed4cbe","endpoint":"6b97790.3596488","variable":"ARRET","name":"","x":1320,"y":540,"wires":[]},{"id":"157090dd.339117","type":"s7 out","z":"286a596b.ed4cbe","endpoint":"dfbcbd08.9b243","variable":"MARCHE","name":"","x":1320,"y":480,"wires":[]},{"id":"f3cb71d3.d36dd","type":"trigger","z":"286a596b.ed4cbe","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1100,"y":480,"wires":[["157090dd.339117"]]},{"id":"7c1630ce.c63aa8","type":"trigger","z":"286a596b.ed4cbe","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1100,"y":540,"wires":[["988d670f.4270c8"]]},{"id":"afaad88e.8e65f","type":"s7 out","z":"286a596b.ed4cbe","endpoint":"907fbdcf.f708e","variable":"Ventilateur","name":"","x":1030,"y":180,"wires":[]},{"id":"8b736e77.09624","type":"ui_switch","z":"286a596b.ed4cbe","name":"","label":"ON/OFF","tooltip":"","group":"2c9c28c0.07e0c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":820,"y":180,"wires":[["afaad88e.8e65f"]]},{"id":"9402726d.161ae8","type":"s7 in","z":"286a596b.ed4cbe","endpoint":"93cd571d.2859e8","mode":"single","variable":"VALVE 1","diff":true,"name":"","x":1460,"y":60,"wires":[["bed4b85b.5edf98"]]},{"id":"40ffd8ca.df9b28","type":"s7 in","z":"286a596b.ed4cbe","endpoint":"74e8cb0.4713434","mode":"single","variable":"POMPE","diff":true,"name":"","x":1450,"y":120,"wires":[["e9b3f732.517508"]]},{"id":"649467e6.9f82c","type":"s7 in","z":"286a596b.ed4cbe","endpoint":"e3e06e67.511d7","mode":"single","variable":"VENTILATEUR","diff":true,"name":"","x":1480,"y":180,"wires":[["3c25dc06.7f6294"]]},{"id":"ad3c882d.0f33d8","type":"e-mail","z":"286a596b.ed4cbe","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"elhimeurayoub@gmail.com","dname":"","x":480,"y":180,"wires":[]},{"id":"bed4b85b.5edf98","type":"ui_led","z":"286a596b.ed4cbe","order":0,"group":"1e4c012a.e0c3ef","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1670,"y":60,"wires":[]},{"id":"e9b3f732.517508","type":"ui_led","z":"286a596b.ed4cbe","order":0,"group":"a1b08c5.2d6327","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1670,"y":120,"wires":[]},{"id":"3c25dc06.7f6294","type":"ui_led","z":"286a596b.ed4cbe","order":0,"group":"41f8cd08.6480d4","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1670,"y":180,"wires":[]},{"id":"f2026770.50b9e","type":"inject","z":"286a596b.ed4cbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":90,"y":660,"wires":[["6eaa78.cf581588"]]},{"id":"da5d4eac.ffce3","type":"function","z":"286a596b.ed4cbe","name":"","func":"if(msg.payload<10)\n{\n    msg.topic=\"Humidité de sol\";\n    msg.payload= \"Humidité du sol est moins de 10% ,irriguer vos plantes!\";\nreturn msg;\n}\nif(msg.payload>10)\n{\n    msg.topic=\"Humidité de sol\";\n    msg.payload= \"Sol devenu humide.\";\nreturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":180,"wires":[["ad3c882d.0f33d8"]]},{"id":"2933d007.af3b8","type":"ubidots_out","z":"286a596b.ed4cbe","name":"127/48","token":"BBFF-b2jHgwp3gg2U4TZDhI52sICasG0huQ","label_device":"","device_label":"S7-1200","tier":"business","tls_checkbox":true,"x":460,"y":480,"wires":[]},{"id":"f03a78b3.d352b8","type":"ubidots_out","z":"286a596b.ed4cbe","name":"127/48","token":"BBFF-b2jHgwp3gg2U4TZDhI52sICasG0huQ","label_device":"","device_label":"S7-1200","tier":"business","tls_checkbox":true,"x":460,"y":240,"wires":[]},{"id":"c3916795.471078","type":"function","z":"286a596b.ed4cbe","name":"","func":"var json={\"NIV CHATEAU\":msg.payload};\nreturn {\"payload\":json};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":240,"wires":[["f03a78b3.d352b8"]]},{"id":"1d31c7fc.33af48","type":"function","z":"286a596b.ed4cbe","name":"","func":"var json={\"Temp\":msg.payload};\nreturn {\"payload\":json};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":480,"wires":[["2933d007.af3b8"]]},{"id":"2b67044f.e580f4","type":"function","z":"286a596b.ed4cbe","name":"","func":"var json={\"Vent\":msg.payload};\nreturn {\"payload\":json};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":580,"wires":[["a27d9c1b.436a3"]]},{"id":"a27d9c1b.436a3","type":"ubidots_out","z":"286a596b.ed4cbe","name":"127/48","token":"BBFF-b2jHgwp3gg2U4TZDhI52sICasG0huQ","label_device":"","device_label":"S7-1200","tier":"business","tls_checkbox":true,"x":720,"y":640,"wires":[]},{"id":"a50d453d.64f328","type":"mongodb out","z":"286a596b.ed4cbe","mongodb":"","name":"","collection":"","payonly":false,"upsert":false,"multi":false,"operation":"store","x":280,"y":360,"wires":[]},{"id":"701832f1.54fc4c","type":"mqtt in","z":"286a596b.ed4cbe","name":"","topic":"/v1.6/devices/S7-1200/POMPE/lv","qos":"0","datatype":"json","broker":"7cb01c98.abb984","x":950,"y":420,"wires":[["55197bd6.5ab71c","157090dd.339117"]]},{"id":"55197bd6.5ab71c","type":"debug","z":"286a596b.ed4cbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":420,"wires":[]},{"id":"e3b89c07.4a40a8","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"MW100","name":"TEMPERATURE"}]},{"id":"95ff1636.efc5d","type":"ui_group","name":"Température","tab":"37b48025.973cc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"af19d806.c88428","type":"ui_group","name":"Humidité du sol","tab":"37b48025.973cc8","order":2,"disp":true,"width":"6","collapse":false},{"id":"860024d8.80f7d8","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"MW120","name":"HUMIDITE"}]},{"id":"a70cce5c.c19408","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.20","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"MR140","name":"NIVEAU PUIT"}]},{"id":"7dd7d03d.fbf06","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.20","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"MW130","name":"NIVEAU CHATEAU"}]},{"id":"5871d21b.8ba3ec","type":"ui_group","name":"Niveau puit","tab":"37b48025.973cc8","order":3,"disp":true,"width":"6","collapse":false},{"id":"ce72d890.be93","type":"ui_group","name":"Niveau de chateau ","tab":"37b48025.973cc8","order":4,"disp":true,"width":"6","collapse":false},{"id":"c7180159.3f17b8","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"M8.3","name":"Ouvrir"}]},{"id":"28d2a11c.a38176","type":"ui_group","name":"AUT/MAN","tab":"87bec229.bbc3","order":6,"disp":true,"width":"6","collapse":false},{"id":"ee2274dd.59b9e","type":"ui_group","name":"Commande manuel","tab":"87bec229.bbc3","order":2,"disp":true,"width":"6","collapse":false},{"id":"bb5f3ac1.1ed3f","type":"ui_group","name":"Humidité","tab":"87bec229.bbc3","order":3,"disp":true,"width":"6","collapse":false},{"id":"1fb2e961.bfc25f","type":"ui_group","name":"","tab":"87bec229.bbc3","order":1,"disp":true,"width":"6","collapse":false},{"id":"ebb013e4.24101","type":"ui_group","name":"Description","tab":"276d8517.b5ceb2","order":1,"disp":true,"width":"6","collapse":false},{"id":"984f52f9.ed3d48","type":"ui_group","name":"Température","tab":"276d8517.b5ceb2","order":2,"disp":true,"width":"6","collapse":false},{"id":"ad82b554.641b1","type":"ui_group","name":"Humidité","tab":"276d8517.b5ceb2","order":3,"disp":true,"width":"6","collapse":false},{"id":"a42e36a5.a32258","type":"ui_group","name":"Vent","tab":"276d8517.b5ceb2","order":4,"disp":true,"width":"6","collapse":false},{"id":"1d51db71.08ce3d","type":"ui_group","name":"Commande manuel Valve 1","tab":"87bec229.bbc3","order":5,"disp":true,"width":"6","collapse":false},{"id":"a5ad051e.3b288","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"M8.4","name":"Fermer"}]},{"id":"3f15742f.64933c","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"M9.0","name":"AUTO MAN"}]},{"id":"6b97790.3596488","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"M9.5","name":"ARRET"}]},{"id":"dfbcbd08.9b243","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"M9.6","name":"MARCHE"}]},{"id":"907fbdcf.f708e","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"M6.0","name":"Ventilateur"}]},{"id":"2c9c28c0.07e0c","type":"ui_group","name":"Ventilateur","tab":"87bec229.bbc3","order":7,"disp":true,"width":"6","collapse":false},{"id":"93cd571d.2859e8","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"Q0.3","name":"VALVE 1"}]},{"id":"74e8cb0.4713434","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"Q0.4","name":"POMPE"}]},{"id":"e3e06e67.511d7","type":"s7 endpoint","transport":"iso-on-tcp","address":"192.168.0.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"Q0.6","name":"VENTILATEUR"}]},{"id":"1e4c012a.e0c3ef","type":"ui_group","name":"Button","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"7cb01c98.abb984","type":"mqtt-broker","name":"","broker":"industrial.api.ubidots.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"37b48025.973cc8","type":"ui_tab","name":"Interface 1 ","icon":"dashboard","disabled":false,"hidden":false},{"id":"87bec229.bbc3","type":"ui_tab","name":"Interface 2","icon":"dashboard","disabled":false,"hidden":false},{"id":"276d8517.b5ceb2","type":"ui_tab","name":"Interface3","icon":"dashboard","disabled":false,"hidden":false}]